<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.dexpi.xpview.plantviewer"
            class="org.dexpi.xpview.plantviewer.views.PlantStructureView"
            icon="icons/package.png"
            id="org.dexpi.xpview.plantviewer.views.PlantStructureView"
            name="Plant Structure">
      </view>
      <view
            allowMultiple="false"
            class="org.dexpi.xpview.plantviewer.views.PropertyView"
            id="org.dexpi.xpview.plantviewer.views.PropertyView"
            name="PropertyView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dexpi.xpview.plantviewer.editors.URIEditor"
            default="false"
            id="org.dexpi.xpview.plantviewer.editors.URIEditor"
            name="URIEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dexpi.xpview.perspective">
         <view
               closeable="false"
               id="org.dexpi.xpview.plantviewer.views.PlantStructureView"
               minimized="false"
               moveable="true"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.dexpi.xpview.plantviewer.views.PropertyView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.dexpi.xpview.ui.MessageView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>

</plugin>
