<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.basf.xpview.view2d">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.basf.xpview.view2d"
            class="com.basf.xpview.pidviewer.editors.SampleView"
            id="com.basf.xpview.view2d.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.basf.xpview.pidviewer.editors.PIDEditor"
            default="false"
            id="com.basf.xpview.pidviewer.editors.PIDEditor"
            name="PIDEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.basf.xpview.pidviewer.toolbar1">
            <separator
                  name="com.basf.xpview.pidviewer.separator1">
            </separator>
            <command
                  commandId="com.basf.xpview.pidviewer.handler.ShowAllHandler"
                  icon="icons/zone-resize.png"
                  label="Show All"
                  style="push"
                  tooltip="Shows the full P&amp;ID">
            </command>
            <command
                  commandId="com.basf.xpview.pidviewer.ShowNormalHandler"
                  icon="icons/zone-resize-actual.png"
                  label="Show Normal"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.basf.xpview.pidviewer.ZoomTo"
               label="Zoom to"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.basf.xpview.pidviewer.handler.ShowAllHandler"
            commandId="com.basf.xpview.pidviewer.handler.ShowAllHandler">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="com.basf.xpview.pidviewer.editors.PIDEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.basf.xpview.pidviewer.handler.ZoomTo"
            commandId="com.basf.xpview.pidviewer.ZoomTo">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="com.basf.xpview.model.PlantItem">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.basf.xpview.pidviewer.handler.ShowNormalHandler"
            commandId="com.basf.xpview.pidviewer.ShowNormalHandler">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="com.basf.xpview.pidviewer.editors.PIDEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
