<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.basf.xpview.view2d">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.basf.xpview.view2d"
            class="com.basf.xpview.pidviewer.editors.SampleView"
            id="com.basf.xpview.view2d.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.basf.xpview.pidviewer.editors.PIDEditor"
            default="false"
            id="com.basf.xpview.pidviewer.editors.PIDEditor"
            name="PIDEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.basf.xpview.pidviewer.toolbar1">
            <separator
                  name="com.basf.xpview.pidviewer.separator1">
            </separator>
            <command
                  commandId="com.basf.xpview.pidviewer.handler.ShowAllHandler"
                  icon="icons/arrow-in-out.png"
                  label="ShowAll"
                  style="push"
                  tooltip="Shows the full P&amp;ID">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.basf.xpview.pidviewer.handler.ShowAllHandler"
            commandId="com.basf.xpview.pidviewer.handler.ShowAllHandler">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="com.basf.xpview.pidviewer.editors.PIDEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
